{% extends 'templates/reports/base.html' %}

{% block content %}

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><h4>{{ cve }} | CVSS Skoru: {{ cve.cvss_score }} | Riski: {{ cve.risk_score }}</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h5>Açıklaması: <p><p>{{ cve.description }}</h5></td>
                </tr>
                <tr>
                    <td><h5>Çözüm Önerisi: <p><p>{{cve.solution|linebreaks }}</h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}