<nav class="navbar navbar-light" style="background-color: #BCB4EE; role="banner">
    <div class="container">

        <div class="navbar-header">
            <h3>N-Ko</h3>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">

            <ul class="nav navbar-nav navbar-right">
                <h4>
                    <a href="{% url 'report_new' %}" class="link">Tarama Yap</a>
                    <a href="{% url 'scan_web' %}" class="link">Web Sitesini Tara</a>
                    <a href="{% url 'report_list' %}" class="link">Raporları Görüntüle</a>
                    <a href="{% url 'scanweb_report_list' %}" class="link">Web Raporlarını Görüntüle</a>
                </h4>
            </ul>

        </nav>

    </div>
</nav>